@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import '/css/fonts.css';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.modal {
  border: 1px solid black;
  width: 990px;
  height: 669px;
  background-color: #fff;
  border-radius: 50px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal img {
  width: 617px;
  height: 448px;
  position: absolute;
  top: 145px;
  right: 0;
}
.modal button {
  position: absolute;
  width: 207px;
  height: 57px;
  left: 83px;
  bottom: 93px;
  background: #B47B48;
  border-radius: 17px;
}
.modal form {
  display: flex;
  flex-direction: column;
}
.modal input {
  width: 412px;
  height: 72px;
  background: #F5F5F5;
}

body {
  font-family: "Inter";
  color: #ffffff;
  background-image: linear-gradient(to right, #19191a, #1c1c1d, #202020, #232324, #272727);
}

.header {
  padding-bottom: 36px;
  padding-top: 50px;
  padding-left: 146px;
  background: url(../img/photo_2022-06-05_13-14-26\ 1.png);
  background-position: center;
  background-size: cover;
}
.header h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-size: 70px;
  line-height: 85px;
  letter-spacing: 0em;
  text-align: left;
}
.header p {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.header nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
}
.header nav li {
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
}
.header h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-size: 70px;
  line-height: 85px;
  width: 561px;
  padding-top: 71px;
}
.header h1 + p {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 25px;
  width: 570px;
  margin: 22px 0 49px;
}
.header .btn {
  background-color: #b47b48;
}
.header .btn-header {
  padding: 16px 34px 16px 34px;
  border-radius: 17px;
  border: none;
}
.header .btn {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.header .btn:hover {
  cursor: pointer;
}

.cards, .cards * {
  box-sizing: border-box;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 225px;
  margin-top: 125px;
  margin-bottom: 36px;
}

.card {
  height: 225px;
  width: 310px;
  border-radius: 0px;
  background-image: linear-gradient(to right, #19191a, #1c1c1d, #202020, #232324, #272727);
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  box-shadow: -8px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.card div {
  text-align: center;
  width: 100%;
}
.card p {
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 13px;
}
.card h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.card button {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  border: none;
  background-color: #C85312;
  color: #ffffff;
  padding: 10px 22px 5px;
}
.card button:hover {
  cursor: pointer;
}
.card:hover {
  background-image: linear-gradient(to right, #181208, #44341c, #775a2d, #af823f, #ebad51);
  box-shadow: -7px 7px 5px 0px rgba(0, 0, 0, 0.75);
}

main {
  height: 775px;
  background: #202023;
}
main h1 {
  text-align: center;
  height: 77px;
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  font-size: 64px;
  line-height: 77px;
  padding: 20px;
}
main p {
  color: #FFFFFF;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
}
main button {
  background: #B47B48;
  border-radius: 17px;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 31px;
  color: #FFFFFF;
  padding: 5px 30px 5px 30px;
  margin-left: 98px;
  margin-top: 9px;
  margin-bottom: 7px;
}
main .menu {
  width: 328px;
  height: 250px;
  border: 1px solid #FFFFFF;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  position: relative;
}
main .menu img {
  position: absolute;
}
main .M:nth-of-type(2) img {
  top: -25px;
}
main .M:nth-of-type(1) img {
  top: 20px;
}
main .M:nth-of-type(3) img {
  top: -20px;
}
main .M:nth-of-type(4) img {
  top: -2px;
}
main .Menu {
  display: flex;
  width: 873px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

section {
  height: 853px;
  width: auto;
  background-image: url(/img/Quality_our_bekary/QOB-bg.png);
}