@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');


.vacansies-cards * {
    box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
}

.menu-btn{
    display: flex;
}

.cards{
    height: 918px;
    width: 166px;
    margin: 40px auto 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-item{

    width: 166px;
    height: 128px;
    background: #F2F3F6;
    border-radius: 10px;
    font-family: 'Fira Sans';
    font-size: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-item i{
    margin-bottom: 15px;
}


.categories-title{
    
    padding-top: 50px;
    font-family: 'Fira Sans';
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #111238;
    
}

.cards :hover  {
    color: #FFFFFF;
    background: #1A75E8;
}

/* SECTION JOBS */

.vacansies-cards{
    width: 290px;
    height: 1824px; 
    margin: 40px auto 30px ;


}

.vacansies-cards .vacansies-card{
    margin-bottom: 15px;

}


.vacansies-card{
    width: 290px;
    height: 441px;
    border: 1px solid #C5C9D5;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 30px 0 30px;


}

.vacansies-title{
    font-family: 'Fira Sans';
    color: #111238;
    font-weight: 700;
    font-size: 16px;
    
}

.vacancie-title{
    width: 173px;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.jobs-title{
    font-family: 'Fira Sans';
    color: #111238;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}



.vacansies-description{
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 14px;
    color: #111238;

}

.btn-coast{
    width: 113px;
    height: 39px;
    background: #1A75E8;
    border-radius: 5px ;

    font-family: 'Fira Sans';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.a{
    color: #1A75E8;
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 14px;

    text-decoration: none;
}

.vacancie-stack{
    color: #B2B2B2;
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 14px;

    width: 183px;
    height: 59px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.vacancie-stack .stack{
    display: flex;
    justify-content: space-between;

    width: 100%;

}
.vacancie-stack p{
    text-align: center;
}

.stack li{
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.li1{
    width: 56px;
    height: 27px;
}
.li2{
    width: 49px;
    height: 27px;
}
.li3{
    width: 58px;
    height: 27px;
}

/* HEADER */

.conteiner1{
    
    height: 783px;
    background: #F2F3F6;

}

.menu-btn{
    display: none;
    
    /* height: 783px; */
}
.burger{
   margin-right: 15px;
}

input[type="checkbox"]{
    display: none;
}

label{
    display: block;
    height: 30px;
    
    position: relative;

}

label :hover{
    cursor: pointer;
}

label span,
 label span::after,
 label span::before{
    content: "";
    height: 2px;
    width: 25px;
    background: #111238;
    position: absolute;
    right: 0;
    transition: 0.3s;
   

}

label span::before{
    top: -8px;
}

label span::after{
    top: 8px;
}

input[type="checkbox"]:checked ~ label span{
    transform: rotate(-45deg);
}
input[type="checkbox"]:checked ~ label span::before{
    top: 0;
    transform: rotate(0);
    
}
input[type="checkbox"]:checked ~ label span::after{
    top: 0;
    transform: rotate(90deg);
    
}
input[type="checkbox"]:checked ~ .menu-btn{
   display: flex;
    
}


@media (max-width: 768px) {
    .menu-btn{
        position: absolute;
        width: 100%;
        background: #F2F3F6;
        
        
    }

}

.title{
    width: 235px;
    height: 58px;
    font-family: 'Fira Sans';
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    color: #111238;

    padding-top: 34px;
}

.p1{
    width: 290px;
    height: 88px;
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #111238;

    padding-top: 20px;
}

.header-input{
    width: 290px;
    height: 70px;

    position: relative;



    /* box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(209, 209, 209, 0.1);
    box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
    border-radius: 5px;


    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    
    color: #B2B2B2;  

    margin-top: 30px; */
}

.header-input input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;

    /* border: 1px solid rgba(209, 209, 209, 0.1); */
    box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
    border-radius: 5px;



}

.headerBtn{
    width: 68.44px;
    height: 45px;
    background: #1A75E8;
    border-radius: 5px;

   

    position: absolute;
    top: 13px;
    right: 10px;
}



.TheEnd{
    color: #B2B2B2;
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 14px;

    /* width: 183px; */
    height: 59px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px ;

}
.TheEnd .TheEnds{
    display: flex;
    justify-content: space-between;

    /* width: 100%; */

}
.TheEnd p{
    text-align: center;
}

.TheEnds li{
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.Front-end{
    width: 85px;
    height: 27px;
   
}

.Back-end{
    width: 80px;
    height: 27px;

}

.Designer{
    width: 76px;
    height: 27px;
}

.hero-img{
    width: 252.45px;
    height: 258.65px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 55px;

    
}

.conteiner2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    

    
}

.logotype{
    width: 90px;
    height: 20.54px;
    
}

.menu-item{
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 16px;


}
a{
    text-decoration: none;
    color: #111238;
    
}
a:hover{
    color: #1A75E8;
}

.regis{
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 16px;
    
    width: 155px;
    height: 49px;

    background: #1A75E8;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
}
.login{
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 16px;
    
    width: 155px;
    height: 49px;

    background: #62d094;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
}

.icon{
    font-size: 15px;
    width: 68.44px;
    height: 45px;
    background: #1A75E8;
    border-radius: 5px;
}

.icon::before{
   
    height: 100%;
    width: 15px;
    
}

/* FOOTER */

.conteiner3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 50px;
}

.E-mail{
    height: 421px;
    background: #F2F3F6;
    
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

footer{
    
    height: 1030px;
}

.Footer-title{
    width: 290px;
    height: 87px;
    font-family: 'Fira Sans';
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    color: #111238;

}

.footer{
    margin-top: 57px;
}
.content{
    width: 290px;
    height: 75px;
    font-family: 'Fira Sans';
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    color: #111238;
}

.footer-title{
    width: 166px;
    height: 34px;
    text-align: center;
    font-family: 'Fira Sans';
    font-weight: 400;
    font-size: 12px;
    color: #B2B2B2;

    margin-top: 20px;
}

.input{
    width: 290px;
    height: 70px;

    position: relative;
    

    /* box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(209, 209, 209, 0.1);
    box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
    border-radius: 5px;


    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    
    color: #B2B2B2; */
}

.input input{
    width: 100%;
    height: 100%;

    border: 1px solid rgba(209, 209, 209, 0.1);
    box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
    border-radius: 5px;



}

.buttonE-mail{
    width: 75px;
    height: 43.75px;
    background: #1A75E8;
    border-radius: 5px;

    position: absolute;
    right: 10px;
    top: 13px;


    
    
    
}

.footer h6{
    font-family: 'Fira Sans';
    font-size: 16px;
    font-weight: 700;
    color: #111238;
    text-align: center;
    padding-bottom: 15px;
}

.footer p{
    font-family: 'Fira Sans';
    
    font-weight: 400;
    font-size: 16px;
    
    text-align: center;

    padding-bottom: 10px;
}

.contact-us{
    padding-bottom: 30px;
}

.information{
    padding-bottom: 30px;
}