.container{
    background-color: rgb(121, 68, 18);
}

@media (max-width: 576px){
    .container{
        height: 100px;
        background-color: blue;
        width: 250px;
    }
}

@media (min-width: 768px) {
    .container{
        border: 1px solid black ;
        height: 50px;
    }
}