.box1{
    background-color: yellow;
    height: 150px;

    h5{
        font-size: 25px;
        background-color: black;
        color: red;

        &:hover{
            background-color: mediumspringgreen;
        }

        span{
            color: blue;
        }
    }

    p{
        color: darkgreen;
        font-size: 20px;

        &:hover{
            background-color: blueviolet;
        }
    }

    &:hover{
        background-color: gray;
    }
}