@media (min-width: 1000px) {

    .container1{
        width: 1440px;

    }
    .menu-btn{
        display: flex;
        flex-direction: row;
    }
    .nav1{
        position: absolute;
        top: 59px;
        left: 540px;
    }
    .nav2{
        position: absolute;
        top: 59px;
        left: 621px;
    }
    .nav3{
        position: absolute;
        top: 59px;
        left: 713px;
    }
    .login{
        position: absolute;
        width: 46px;
        height: 19px;
        left: 1051px;
        top: 59px;
        background: none;
        color: #111238;
    }
    .regis{
        position: absolute;
        width: 155px;
        height: 49px;
        left: 1137px;
        top: 44px;
    }
    .logotype{
        position: absolute;
        width: 131.47px;
        height: 30px;
        left: 147px;
        top: 59px;
    }
    .hero-img{
        position: relative;
        top: 40px;
    }

   
    .conteiner2{
       
        justify-content: space-around;
        /* padding-top: 211px;
        padding-left: 147px; */
        flex-direction: row;
    }
    

    .title{
        width: 460px;
        height: 106px;
        font-size: 44px;
    }
    .p1{
        font-size: 18px;
        width: 460px;
    }

    .TheEnds{
        width: 259px;
    }

    .TheEnd{
        width: 410px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    .vacancie-stack{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
       

    }

    .hero-img{
        width: 544.11px;
        height: 557.49px;
        /* padding-top: 88px;
        padding-left: 735px; */
    }
    .headerBtn{
        width: 211px;
        height: 49px;
        right: 0;
       
    }

    .header-input {
        width: 447px;
        height: 70px;
    }


    .cards{
    
        flex-direction: row;
        width: 1146px;
        height: 128px;



    }
    .logo{
        margin-left: 30px;
    }

    .categories-title{
        text-align: left;
        width: 1146px;
        margin: 0 auto;
    }

    .jobs-title{
        text-align: left;
        width: 1146px;
        margin: 0 auto;
    }

    .vacansies-cards{
        width: 1146px;
        height: 700px;
    }
    .vacansies-card{
        flex-direction: row;
        width: 1146px;
        height: 160px;
    }

    .input{
        width: 447px;
        height: 70px;
    }
   
    .conteiner4{
        height: 281px;
        width: 1031px;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
       
    }

    .footer{
        width: 810px;
       display: flex;
        justify-content: space-around;

        
        
       
    }

    

    .Footer-title{
        font-size: 36px;
        width: 460px;
        height: 86px;
    }

    .content{
        font-size: 18px;
        width: 460px;
        height: 50px;
    }

    .buttonE-mail{
        width: 181px;
        height: 49px;

    }

    label{
        display: none;
    }

}