/* div{
    height: 200px;
    width: 200px;
    background-color:#faccff;
    color: #4B4453;
    text-align: center; */
    /* box-shadow: inset 0 0 25px 1px #845EC2; */
    /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
p{
    text-shadow: 2px 1px px #000000;
}
body{
    display:flex ;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}   */

div{
    border-radius: 5px;
    height: 200px;
    width: 550px;
    background-color: white;
    text-align: center;
    box-shadow:0px 8px 7px 2px rgba(255,0,0,1), 0px 12px 9px 4px rgba(9,0,255,1),0px 30px 9px 4px rgba(16,66,12,1),  0px 30px 20px 20px rgba(158,33,33,1), 0px 40px 12px 10px rgb(210, 233, 10),  0px 50px 40px 10px rgb(33, 139, 158) ,  0px 55px 50px 30px rgb(20, 131, 62);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(218, 221, 221, 0.5);
}
